/* ========== Global ========== */
@font-face {
    font-family: 'SixCapsRegular';
    src: url('fonts/SixCaps-webfont.eot');
    src: url('fonts/SixCaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SixCaps-webfont.woff') format('woff'),
         url('fonts/SixCaps-webfont.ttf') format('truetype'),
         url('fonts/SixCaps-webfont.svg#SixCapsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Fonts */
$news-cycle: "News Cycle", "Arial Narrow", "Helvetica Neue", Arial, Helvetica, sans-serif;
$sixcaps: "SixCapsRegular", $news-cycle;

/* Lengths */
$column-width: 232px;
$margin-width: 15px;

/* Colors */
$primary: #1f2d3c;
$secondary: #ef4137;
$tertiary: #e1e4c0;
